@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-family-text: 'Poppins', sans-serif;
	--font-family-pg: 'Open Sans', sans-serif;
	--font-family-monospace: 'Jetbrains Mono', monospace;
	--bg-color: white;
}

* {
	margin: 0;
	padding: 0;
}

h1,
h2 {
	font-family: var(--font-family-text);
}

li,
p,
a {
	font-family: var(--font-family-pg);
}

body {
	background-color: var(--bg-color);
}
