@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-family-text: 'Jetbrains Mono', sans-serif;
	--font-family-pg: 'Jetbrains Mono', sans-serif;
	--font-family-monospace: 'Jetbrains Mono', monospace;
	--bg-color: black;
}

* {
	margin: 0;
	padding: 0;
}

h1,
h2 {
	font-family: var(--font-family-text);
}

* {
	font-family: var(--font-family-pg);
}

body {
	background-color: black;
}
